:root {
    --v-theme-title-featured-font: var(--v-theme-font);
    --v-theme-title-featured-font-size: calc(1.87 * var(--v-theme-font-size));
    --v-theme-title-featured-line-height: calc(2.24 * var(--v-theme-font-size));
    --v-theme-title-font: var(--v-theme-font);
    --v-theme-title-font-size: calc(1.2 * var(--v-theme-font-size));
    --v-theme-title-line-height: calc(1.44 * var(--v-theme-font-size));
    --v-theme-body-font: var(--v-theme-font);
    --v-theme-body-font-size: var(--v-theme-font-size);
    --v-theme-body-line-height: calc(1.2 * var(--v-theme-font-size));
    --v-theme-date-font: var(--v-theme-font);
    --v-theme-date-font-size: calc(0.8 * var(--v-theme-font-size));
    --v-theme-date-line-height: calc(1 * var(--v-theme-font-size));

    --v-theme-title-featured-font-size-scaled: calc(var(--v-theme-title-featured-font-size) * var(--v-scale-factor));
    --v-theme-title-featured-line-height-scaled: calc(var(--v-theme-title-featured-line-height) * var(--v-scale-factor));
    --v-theme-title-featured-line-height-scaled-x2: calc(var(--v-theme-title-featured-line-height) * 2 * var(--v-scale-factor));
    --v-theme-caption-image-height: calc(var(--v-theme-title-featured-line-height) * 8 * var(--v-scale-factor));
    --v-theme-image-height: calc(var(--v-theme-title-line-height) * 6 * var(--v-scale-factor));
    --v-theme-image-width: calc(var(--v-theme-title-line-height) * 1.32 * 6 * var(--v-scale-factor));
    --v-theme-body-font-size-scaled: calc(var(--v-theme-body-font-size) * var(--v-scale-factor));
    --v-theme-body-line-height-scaled: calc(var(--v-theme-body-line-height) * var(--v-scale-factor));
    --v-theme-body-line-height-scaled-x2: calc(var(--v-theme-body-line-height) * 2 * var(--v-scale-factor));
    --v-theme-body-line-height-scaled-x4: calc(var(--v-theme-body-line-height) * 4 * var(--v-scale-factor));
    --v-theme-date-font-size-scaled: calc(var(--v-theme-date-font-size) * var(--v-scale-factor));
    --v-theme-date-line-height-scaled: calc(var(--v-theme-date-line-height) * var(--v-scale-factor));

    /* Media sizes */
    --v-theme-title-font-size-scaled: calc(var(--v-theme-title-font-size) * var(--v-scale-factor));
    --v-theme-title-line-height-scaled: calc(var(--v-theme-title-line-height) * var(--v-scale-factor));
    --v-theme-title-line-height-scaled-x2: calc(var(--v-theme-title-line-height) * 2 * var(--v-scale-factor));
}
